{% extends 'blog/base.html' %}

{% block content %}
    <div class="centerstage" xmlns="http://www.w3.org/1999/html">
        {% for post in post_list %}
            <div class="post">
                <h1><a href="{% url 'blog:post_detail' pk=post.pk %}"></a>{{ post.title }}</h1>
                <div class="date">
                    <p>Published on: {{ post.published_date|date:"D M Y" }}</p>
                </div>
                <a href="{% url 'blog:post_detail' pk=post.pk %}">Comments: {{ post.approve_comments.count }}</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}